UI/SMART.WCS.UI.COMMON/Connected Services/LocalDeployWebService/LiveUpdateWebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMART.WCS.WebService.LiveUpdate" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMART.WCS.WebService.LiveUpdate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51000/LiveUpdateWebService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DeployServerFileInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ServerFileInfo" nillable="true" type="q1:ArrayOfArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="ResultCD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultMsg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeployServerFileInfo" nillable="true" type="tns:DeployServerFileInfo" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>